@charset "UTF-8";
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body .kninos- {
  text-align: left;
  font-family: "Judson", serif;
  font-size: 80px;
  font-style: normal;
  color: white;
  margin-left: 20px;
}
body .barra-inicio {
  color: white;
  font-family: "Judson", serif;
  font-weight: 12.5rem;
  font-style: normal;
  font-size: 30px;
  background-color: rgba(253, 77, 194, 0.77);
  display: inline;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
body .carrito {
  display: flex;
  justify-content: space-between right;
  width: 35px;
  height: 35px;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-right: 30px;
  margin-left: 1200px;
}
body .registro {
  display: flex;
  justify-content: right;
  font-family: "Judson", serif;
  font-size: 15px;
  color: white;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 5px;
}
body footer {
  display: flexbox;
  background-color: blueviolet;
  font-family: "Judson", serif;
  width: 100%;
  justify-content: center;
}
body .foot-con {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
body .contacto {
  display: flexbox;
  font-size: 15px;
  font-style: normal;
  color: black;
  text-align: left;
  margin-left: 20px;
}
body .nom-dire {
  display: flexbox;
  font-size: 15px;
  color: black;
  text-align: center;
  align-items: center;
}
body .desafio {
  display: flexbox;
  font-size: 15px;
  font-style: normal;
  color: black;
  text-align: right;
  justify-content: right;
  margin-right: 20px;
}
body .iconos {
  display: flex;
  justify-content: left;
  width: 30px;
  height: 30px;
}

.fondovioleta {
  background-image: url(https://st4.depositphotos.com/23035388/24568/i/450/depositphotos_245686662-stock-illustration-abstract-violet-background-paints-mix.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
}

main * {
  font-family: "Judson", serif;
}
main ul {
  display: none;
}
main input:checked ~ ul {
  display: block;
}
main input {
  display: none;
}
main label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}
main label:hover {
  background: grey;
}
main input:checked ~ label {
  background: lightgrey;
}
main ul {
  margin-top: 0;
  padding: 0;
  width: 200px;
}
main li {
  display: block;
  background: lightgrey;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid grey;
}
main li:hover {
  filter: brightness(110%);
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header .pdescuento {
  color: black;
  background-color: rgb(137, 43, 226);
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}
header .h1kninos {
  text-align: left;
  font-family: "Judson", serif;
  font-size: 80px;
  font-style: normal;
  color: white;
  margin-top: 5px;
  margin-left: 20px;
}

section .barra-inicio {
  display: flex;
  color: white;
  font-family: "Judson", serif;
  font-weight: 12.5rem;
  font-style: normal;
  font-size: 30px;
  background-color: rgba(253, 77, 194, 0.77);
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
section .slider-container {
  display: flex;
  width: 100%;
  height: 75vh;
  overflow-x: scroll;
  margin-top: 20px;
  scroll-snap-type: x mandatory;
}
section .slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}
section .quienes-somos {
  color: white;
  font-family: "Judson", serif;
  font-weight: 150;
  font-style: normal;
  font-size: 35px;
  text-align: center;
  margin-top: 5%;
}
section .texto-inicio {
  text-align: center;
  align-items: center;
  color: white;
  font-family: "Judson", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 25px;
}
section .porque-kninos {
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: "Judson", serif;
  font-style: normal;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 20px;
}
section .lista-xq {
  position: relative;
  margin-bottom: 10px;
  background-color: rgba(253, 77, 194, 0.522);
  color: white;
  font-family: "Judson", serif;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
section .peinado-inicio {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 700px;
  height: 700px;
  margin-left: 25%;
  margin-bottom: 0;
}
section .somos-pet {
  display: flex;
  width: 1510px;
  justify-content: center;
}

/*turnos*/
* {
  margin: 0;
  padding: 0;
}

header .kninos- {
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 80px;
  text-align: left;
}
header .barra-inicio {
  color: white;
  font-family: "Judson", serif;
  font-weight: 12.5rem;
  font-style: normal;
  font-size: 30px;
  background-color: rgba(253, 77, 194, 0.77);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

main .inicio-tur {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 30px;
}

section .titulo-turnos {
  display: flex;
  color: black;
  font-family: "Judson", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 35px;
  text-align: center;
  justify-content: center;
}
section * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section .main form {
  padding: 1em;
  background: rgba(138, 138, 138, 0.288);
  border: 1px solid #c1c1c1;
  margin-top: 2rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
section .main h2 {
  font-family: "Judson", serif;
  color: black;
  font-size: 30px;
}
section .container {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  padding: 30px;
  box-shadow: 3px 3px 10px #000;
}
section .cajas {
  margin: 15px 0;
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
  outline: 3px solid rgb(149, 0, 255);
  display: flex;
  font-size: 30px;
}
section .cajas:hover {
  border: 2px solid #000;
  box-shadow: 3px 3px 6px #fff;
}
section .cajas {
  margin: 5px 0;
  background-color: rgba(228, 130, 217, 0.3137254902);
  outline: 3px solid rgba(153, 0, 255, 0.5450980392);
}
section .cajas:hover {
  outline: 3px solid rgba(153, 0, 255, 0.5450980392);
  box-shadow: 3px 3px 6px #fff;
}
section .boton {
  display: flex;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}
section .boton:hover {
  background: rgba(211, 211, 211, 0.386);
  background: rgb(174, 0, 255);
  padding: 0.7em;
  border: 0;
}

/*accesorios*/
header .kninos- {
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 60px;
  text-align: left;
}
header .barra-inicio {
  color: white;
  font-family: "Judson", serif;
  font-weight: 12.5rem;
  font-style: normal;
  font-size: 30px;
  background-color: rgba(253, 77, 194, 0.77);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

section .inicio-acc {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 30px;
}
section .accesorios-img {
  display: flex;
  margin-top: 100px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  grid-template-rows: auto;
  row-gap: 3.125rem;
  column-gap: 60px;
  grid-template-columns: auto;
  align-items: center;
}
section .bozal-generico {
  display: flex;
  margin-bottom: 10px;
  width: 250px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .bozal-grande {
  display: flex;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .cepillo-dientes {
  display: flex;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .collar-pequeña {
  display: flex;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .collar-colores {
  display: flex;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .moises {
  display: flex;
  margin-bottom: 10px;
  width: 300px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .platos {
  display: flex;
  margin-bottom: 10px;
  width: 250px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .bulldog-1 {
  display: flex;
  margin-bottom: 10px;
  width: 300px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .bulldog-2 {
  display: flex;
  margin-bottom: 10px;
  width: 300px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .colchon-1 {
  display: flex;
  margin-bottom: 10px;
  margin-left: 30px;
  width: 250px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .colchon-2 {
  display: flex;
  margin-bottom: 10px;
  width: 250px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .juguete-snack {
  display: flex;
  margin-bottom: 10px;
  width: 250px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .juguete-soga {
  display: flex;
  margin-bottom: 10px;
  width: 250px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .pasta-dental {
  display: flex;
  margin-bottom: 10px;
  width: 150px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .platos-acero {
  display: flex;
  margin-bottom: 10px;
  width: 250px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .platos-regulable {
  display: flex;
  margin-bottom: 10px;
  width: 250px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .platos-plastico {
  display: flex;
  margin-bottom: 10px;
  width: 250px;
  height: 200px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 6.25rem;
  column-gap: 150px;
}

/*productos veterinarios*/
header .kninos- {
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 60px;
  text-align: left;
}
header .barra-inicio {
  color: white;
  font-family: "Judson", serif;
  font-weight: 12.5rem;
  font-style: normal;
  font-size: 30px;
  background-color: rgba(253, 77, 194, 0.77);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

section .inicio-product {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 30px;
}
section .productosvet-img {
  display: flex;
  margin-bottom: 10px;
  margin-top: 15px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  grid-template-rows: min-content;
  row-gap: 6.25rem;
  column-gap: 150px;
}
section .anti-cachorro {
  display: flex;
  margin-bottom: 10px;
  width: 150px;
  height: 250px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .anti-grande {
  display: flex;
  margin-bottom: 10px;
  width: 200px;
  height: 150px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .anti-gigante {
  display: flex;
  margin-bottom: 10px;
  width: 200px;
  height: 150px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .block-grande {
  display: flex;
  margin-bottom: 10px;
  width: 200px;
  height: 150px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .block-medio {
  display: flex;
  margin-bottom: 10px;
  width: 200px;
  height: 150px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .block-peque {
  display: flex;
  margin-bottom: 10px;
  width: 200px;
  height: 150px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .etchol {
  display: flex;
  margin-bottom: 10px;
  width: 150px;
  height: 250px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .polvo-cica {
  display: flex;
  margin-bottom: 10px;
  width: 100px;
  height: 250px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .spray-can {
  display: flex;
  margin-bottom: 10px;
  width: 100px;
  height: 250px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
section .talco-pulgas {
  display: flex;
  margin-bottom: 10px;
  width: 100px;
  height: 250px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .royal-ad {
  display: flex;
  margin-bottom: 10px;
  width: 150px;
  height: 250px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
section .royal-med {
  display: flex;
  margin-bottom: 10px;
  width: 150px;
  height: 250px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
section .royal-pu {
  display: flex;
  margin-bottom: 10px;
  width: 150px;
  height: 250px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

header .kninos- {
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 60px;
  text-align: left;
}
header .barra-inicio {
  color: white;
  font-family: "Judson", serif;
  font-weight: 12.5rem;
  font-style: normal;
  font-size: 30px;
  background-color: rgba(253, 77, 194, 0.77);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
header .cuenta-1 {
  display: flex;
  color: black;
  font-family: "Judson", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 35px;
  text-align: center;
  justify-content: center;
}
header .inicio-acc {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
  text-align: left;
  font-size: 30px;
  transition: transform 0.3s ease-in-out;
}

section * {
  box-sizing: border-box;
}
section form {
  display: flexbox;
  padding: 1em;
  background: rgba(138, 138, 138, 0.288);
  border: 1px solid #c1c1c1;
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
section form input {
  margin-bottom: 1rem;
  background: rgba(228, 130, 217, 0.3137254902);
  border: 1px solid #000000;
}
section form button {
  background: rgb(174, 0, 255);
  padding: 0.7em;
  border: 0;
}
section form button:hover {
  background: rgba(211, 211, 211, 0.386);
}
section label {
  text-align: right;
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
}
section input {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
section input:focus {
  outline: 3px solid rgba(153, 0, 255, 0.5450980392);
}
section .input {
  display: flex;
  font-size: 30px;
}
section .boton {
  display: flex;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

@media (max-width: 320px) {
  .h1kninos {
    flex-direction: column;
    justify-content: left;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .pdescuento {
    flex-direction: column;
    align-items: center;
    background-size: cover;
    height: 10px;
    font-size: 7px;
    width: 320px;
  }
  .barra-inicio {
    flex-direction: row;
    justify-content: space-around;
    height: 15px;
    font-size: 10px;
    width: 320px;
  }
  .carrito {
    width: 10px;
    height: 10px;
    margin-left: 30px;
  }
  .quienes-somos {
    display: flex;
    font-size: 10px;
    text-align: center;
    justify-content: center;
    margin-left: 5px;
  }
  .texto-inicio {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    margin-left: 5px;
  }
  .porque-kninos {
    display: flex;
    font-size: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 7px;
  }
  .lista-xp {
    display: flex;
    margin-bottom: 2px;
    margin-top: 5px;
    font-size: 7px;
  }
  .peinado-inicio {
    margin-left: 13px;
    width: 100px;
    height: 100px;
  }
  .somos-pey {
    width: 200px;
  }
  body {
    flex-direction: column;
    background-size: cover;
    justify-content: space-evenly;
  }
  footer {
    justify-content: space-between;
    width: 768px;
    height: 20px;
    text-align: center;
    align-items: center;
  }
  .contacto {
    font-size: 5px;
    font-style: normal;
    text-align: left;
  }
  .nom-dire {
    font-size: 5px;
    text-align: center;
  }
  .desafio {
    font-size: 10px;
    text-align: right;
  }
  .iconos {
    justify-content: left;
    width: 7px;
    height: 7px;
  }
}
/*Responsive tablet turnos*/
@media (max-width: 320px) {
  .body {
    margin: 0;
    padding: 0;
  }
  .fondovioleta {
    justify-content: cover;
  }
  .kninos- {
    flex-direction: column;
    justify-content: left;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .barra-inicio {
    justify-content: space-around;
    height: 15px;
    font-size: 10px;
    width: 320px;
  }
  .titulo-turnos {
    text-align: center;
  }
  .tabla-turnos {
    justify-content: center;
    width: 50%;
    height: 250%;
    margin-left: 10px;
    margin-right: 10px;
  }
  footer {
    margin-bottom: 0;
  }
}
/*Responsive tablet accesorios*/
@media (max-width: 320px) {
  .kninos- {
    flex-direction: column;
    justify-content: left;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .barra-inicio {
    justify-content: space-around;
    height: 15px;
    font-size: 10px;
    width: 320px;
  }
  .inicio-acc {
    font-size: 15px;
  }
  .accesorios-img {
    margin-left: 5px;
    margin-right: 5px;
    column-gap: 15px;
  }
}
/*Responsive tablet productos veterinarios*/
@media (max-width: 320px) {
  .kninos- {
    flex-direction: column;
    justify-content: left;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .barra-inicio {
    justify-content: space-around;
    height: 15px;
    font-size: 10px;
    width: 320px;
  }
  .inicio-product {
    font-size: 7px;
  }
  .productosvet-img {
    margin-left: 5px;
    margin-right: 5px;
    column-gap: 15px;
  }
}
/*Responsive tablet acceso*/
@media (max-width: 320px) {
  .kninos- {
    flex-direction: column;
    justify-content: left;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .barra-inicio {
    justify-content: space-around;
    height: 15px;
    font-size: 10px;
    width: 320px;
  }
  .inicio-acc {
    font-size: 15px;
  }
}
@media (max-width: 1023px) {
  .h1kninos {
    flex-direction: column;
    justify-content: left;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .pdescuento {
    flex-direction: column;
    align-items: center;
    background-size: cover;
    height: 10px;
    font-size: 10px;
    width: 320px;
  }
  .barra-inicio {
    justify-content: space-around;
    height: 40px;
    font-size: 25px;
    width: 1023px;
  }
  .carrito {
    width: 15px;
    height: 15px;
    margin-left: 60%;
  }
  .quienes-somos {
    display: flex;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    margin-left: 30%;
  }
  .texto-inicio {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    margin-left: 30%;
  }
  .porque-kninos {
    display: flex;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .lista-xp {
    display: flex;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 15px;
  }
  .peinado-inicio {
    margin-left: 25%;
    width: 200px;
    height: 200px;
  }
  .somos-pey {
    width: 555px;
  }
  body {
    flex-direction: column;
    background-size: cover;
    justify-content: space-evenly;
  }
  footer {
    justify-content: space-between;
    width: 768px;
    height: 40px;
    text-align: center;
    align-items: center;
  }
  .contacto {
    font-size: 10px;
    font-style: normal;
    text-align: left;
  }
  .nom-dire {
    font-size: 10px;
    margin-left: 500px;
  }
  .desafio {
    font-size: 10px;
    text-align: right;
  }
  .iconos {
    justify-content: left;
    width: 10px;
    height: 10px;
  }
}
/*Responsive tablet turnos*/
@media (max-width: 1024px) {
  .body {
    margin: 0;
    padding: 0;
  }
  .fondovioleta {
    justify-content: cover;
  }
  .kninos- {
    flex-direction: column;
    justify-content: left;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .barra-inicio {
    justify-content: space-around;
    height: 40px;
    font-size: 25px;
    width: 1023px;
  }
  .titulo-turnos {
    text-align: center;
  }
  .tabla-turnos {
    justify-content: center;
    width: 100%;
    height: 500%;
    margin-left: 20px;
    margin-right: 20px;
  }
  footer {
    margin-bottom: 0;
  }
}
/*Responsive tablet accesorios*/
@media (max-width: 1024px) {
  .kninos- {
    flex-direction: column;
    justify-content: left;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .barra-inicio {
    justify-content: space-around;
    height: 40px;
    font-size: 25px;
    width: 1023px;
  }
  .inicio-acc {
    font-size: 15px;
  }
  .accesorios-img {
    margin-left: 10px;
    margin-right: 10px;
    column-gap: 30px;
  }
}
/*Responsive tablet productos veterinarios*/
@media (max-width: 1024px) {
  .kninos- {
    flex-direction: column;
    justify-content: left;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .barra-inicio {
    justify-content: space-around;
    height: 40px;
    font-size: 25px;
    width: 1023px;
  }
  .inicio-product {
    font-size: 15px;
  }
  .productosvet-img {
    margin-left: 10px;
    margin-right: 10px;
    column-gap: 30px;
  }
}
/*Responsive tablet acceso*/
@media (max-width: 1024px) {
  .kninos- {
    flex-direction: column;
    justify-content: left;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .barra-inicio {
    justify-content: space-around;
    height: 40px;
    font-size: 25px;
    width: 1023px;
  }
  .inicio-acc {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
