body {
    * {
        margin: 0;
        padding: 0;
    }

    .kninos- {
        text-align: left;
        font-family: "Judson", serif;
        font-size: 80px;
        font-style: normal;
        color: white;

        margin-left: 20px;
    }

    .barra-inicio {
        color: white;
        font-family: "Judson", serif;
        font-weight: 12.5rem;
        font-style: normal;
        font-size: 30px;
        background-color: rgba(253, 77, 194, 0.77);
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .carrito { 
        display: flex;
        justify-content: right;
        width: 35px;
        height: 35px;
        margin-top: 50px;
        margin-bottom: 5px;
        margin-left: 1300px;
    }
    
    .registro {
        display: flex;
        justify-content: right;
        font-family:  "Judson", serif;
        font-size: 15px;
        color: white;
        margin-top: 30px;
        margin-right: 20px;
        margin-bottom: 5px;
    }



    footer {
        display: flex;
        background-color: blueviolet;
        font-family: "Judson", serif;
        width: 100%;
        justify-content: center;
    }

    .foot-con {
        display: flex;
        margin-top: 10px;

    }

    .contacto {
        display: flex;
        font-size: 15px;
        font-style: normal;
        color: black;
        text-align: left;

    }

    .nom-dire {
        display: flex;
        font-size: 15px;
        color: black;
        margin-left: 500px;
        text-align: center;
    }

    .desafio {
        display: flex;
        font-size: 15px;
        font-style: normal;
        color: black;
        text-align: right;

    }

    .iconos {
        display: flex;
        justify-content: left;
        width: 30px;
        height: 30px;
    }


}

.fondovioleta {
    background-image: url(https://st4.depositphotos.com/23035388/24568/i/450/depositphotos_245686662-stock-illustration-abstract-violet-background-paints-mix.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
}

main {
    * {
        font-family: "Judson", serif;
    }

    ul {
        display: none;
    }

    input:checked~ul {
        display: block;
    }

    input {
        display: none;
    }

    label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid white;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }

    label:hover {
        background: grey;
    }

    input:checked~label {
        background: lightgrey;
    }

    ul {
        margin-top: 0;
        padding: 0;
        width: 200px;

    }

    li {
        display: block;
        background: lightgrey;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
    }

    li:hover {
        filter: brightness(110%);
    }
}