@media (max-width: 320px) {
    .h1kninos {
        flex-direction: column;
        justify-content: left;
        font-size: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .pdescuento{
        flex-direction: column;
        align-items: center;
        background-size: cover;
        height: 10px;
        font-size: 7px;
        width: 320px;
    }

    .barra-inicio{
        flex-direction: row;
        justify-content: space-around;
        height: 15px;
        font-size: 10px;
        width: 320px;

    }
    .carrito { 
        width: 10px;
        height: 10px;
        margin-left: 30px;
        
    }

    .slider-container img {
    
    }

    .quienes-somos{
        display: flex;
        font-size: 10px;
        text-align: center;
        justify-content: center;
        margin-left: 5px;

    }
    .texto-inicio{
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 10px;
        margin-left: 5px;
    }
    .porque-kninos {
        display: flex;
        font-size: 7px;
        margin-top: 7px;
        margin-bottom: 5px;
        font-size: 7px;
    }

    .lista-xp {
        display: flex;
        margin-bottom: 2px;
        margin-top: 5px;
        font-size: 7px;
    }
    .peinado-inicio{
        margin-left: 13px;
        width: 100px;
        height: 100px;
    }

    .somos-pey {
        width: 200px;
    }

body {
    flex-direction: column;
    background-size: cover ;
    justify-content: space-evenly;

}

footer {
    justify-content: space-between;
    width: 768px;
    height: 20px;
    text-align: center;
    align-items: center;
}

.contacto {
    font-size: 5px;
    font-style: normal;
    text-align: left;
    
}

.nom-dire {
    font-size: 5px ;
    text-align: center;

}
.desafio{
    font-size: 10px ;
    text-align: right;
}

.iconos {
    justify-content: left;
    width: 7px;
    height: 7px;
}
}
/*Responsive tablet turnos*/

@media (max-width: 320px) {
    .body { 
        margin: 0;
        padding: 0;
    }
    .fondovioleta {
        justify-content: cover;
    }

    .kninos- {
        flex-direction: column;
        justify-content: left;
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .barra-inicio{
        justify-content: space-around;
        height: 15px;
        font-size: 10px;
        width: 320px;
    }

    .titulo-turnos{
        text-align: center;

    }

    .tabla-turnos {
        justify-content: center;
        width: 50%;
        height: 250%;
        margin-left: 10px;
        margin-right: 10px;
    }

    footer {
        margin-bottom: 0;
    }
    }

/*Responsive tablet accesorios*/ 

@media (max-width: 320px) {
    .kninos- {
        flex-direction: column;
        justify-content: left;
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .barra-inicio{
        justify-content: space-around;
        height: 15px;
        font-size: 10px;
        width: 320px;
    }
    
    .inicio-acc {
    font-size: 15px;
}

.accesorios-img {
    margin-left: 5px;
    margin-right: 5px;
    column-gap: 15px;

}

}
/*Responsive tablet productos veterinarios*/
@media (max-width: 320px) {
    .kninos- {
        flex-direction: column;
        justify-content: left;
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .barra-inicio{
        justify-content: space-around;
        height: 15px;
        font-size: 10px;
        width: 320px;
    }
    
    .inicio-product {
    font-size: 7px;
}
.productosvet-img{
    margin-left: 5px;
    margin-right: 5px;
    column-gap: 15px;
}
    
}

/*Responsive tablet acceso*/
@media (max-width: 320px) {
    .kninos- {
        flex-direction: column;
        justify-content: left;
        font-size: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .barra-inicio{
        justify-content: space-around;
        height: 15px;
        font-size: 10px;
        width: 320px;
    }
    
    .inicio-acc {
    font-size: 15px;
}

}