header {
    .kninos- {
        font-family: "Judson", serif;
        font-weight: 400;
        font-style: normal;
        color: black;
        font-size: 60px;
        text-align: left;
    }

    .barra-inicio {
        color: white;
        font-family: "Judson", serif;
        font-weight: 12.5rem;
        font-style: normal;
        font-size: 30px;
        background-color: rgba(253, 77, 194, 0.77);
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .cuenta-1 {
        display: flex;
        color: black;
        font-family: "Judson", serif;
        font-weight: 200;
        font-style: normal;
        font-size: 35px;
        text-align: center;
        justify-content: center;
    }

    .inicio-acc {
        display: flex;
        margin-top: 20px;
        margin-left: 30px;
        text-align: left;
        font-size: 30px;
        transition: transform 0.3s ease-in-out;

    }
}


section {

    * {
        box-sizing: border-box;
    }

    form {
        display: flexbox;
        padding: 1em;
        background: rgba(138, 138, 138, 0.288);
        border: 1px solid #c1c1c1;
        margin-top: 2rem;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
    }

    form input {
        margin-bottom: 1rem;
        background: #e482d950;
        border: 1px solid #000000;
    }

    form button {
        background: rgb(174, 0, 255);
        padding: 0.7em;
        border: 0;
    }

    form button:hover {
        background: rgba(211, 211, 211, 0.386);
    }

    label {
        text-align: right;
        display: block;
        padding: 0.5em 1.5em 0.5em 0;
    }

    input {
        width: 100%;
        padding: 0.7em;
        margin-bottom: 0.5rem;
    }

    input:focus {
        outline: 3px solid #9900ff8b;
    }

    .input {
        display: flex;
        font-size: 30px;
    }

    .boton {
        display: flex;
        font-size: 30px;
        text-align: center;
        justify-content: center;
    }


}