header {
    .kninos- {
        font-family: "Judson", serif;
        font-weight: 400;
        font-style: normal;
        color: black;
        font-size: 60px;
        text-align: left;
    }

    .barra-inicio {
        color: white;
        font-family: "Judson", serif;
        font-weight: 12.5rem;
        font-style: normal;
        font-size: 30px;
        background-color: rgba(253, 77, 194, 0.77);
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .cuenta-1 {
        display: flex;
        color: black;
        font-family: "Judson", serif;
        font-weight: 200;
        font-style: normal;
        font-size: 35px;
        text-align: center;
        justify-content: center;
    }

    .inicio-acc {
        display: flex;
        margin-top: 20px;
        margin-left: 30px;
        text-align: left;
        font-size: 30px;
        transition: transform 0.3s ease-in-out;

    }
}


section {
    .acceso-form {
        display: flex;
        justify-content: left;
        box-sizing: border-box;
        font-family: "lato", sans-serif;
        margin-top: 40px;
        margin-left: 20px;
    }

    .registro-form {
        display: flex;
        box-sizing: border-box;
        font-family: "lato", sans-serif;
        justify-content: right;
        font-size: 50px;
        margin-top: 40px;
        margin-right: 20px;

    }
    .acceder {
        display: flex;
        font-size: 30px;
    }

    .label {
        font-size: 20px;

    }

    .input {
        display: flex;
        justify-content: right;
        font-size: 35px;

    }



    .boton {
        display: flex;
        border: none; 
        color: black; 
        padding: 14px 28px; 
        cursor: pointer; 
        border-radius: 5px; 
        font-size: 50px;
        background-color: rgb(116, 0, 239) ;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: transform 0.3s ease-in-out;
    }

    .tabla-acc {
        display: flex;
        text-align: center;
        justify-content: center;
    }

}