/*turnos*/
* {
    margin: 0;
    padding: 0;
}

header {
    .kninos- {
        font-family: "Judson", serif;
        font-weight: 400;
        font-style: normal;
        color: black;
        font-size: 60px;
        text-align: left;
    }

    .barra-inicio {
        color: white;
        font-family: "Judson", serif;
        font-weight: 12.5rem;
        font-style: normal;
        font-size: 30px;
        background-color: rgba(253, 77, 194, 0.77);
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .titulo-turnos {
        display: flex;
        color: black;
        font-family: "Judson", serif;
        font-weight: 200;
        font-style: normal;
        font-size: 35px;
        text-align: center;
        justify-content: center;
    }
}

main {
    .tabla-turnos {
        display: flexbox;
        height: 800px;
        align-items: center;
        margin-left: 250px;
    }

    .t-ubicacion {
        background-color: rgba(216, 0, 216, 0.434);
        ;
        font-size: 20px;
        margin-top: 5px;
        margin-left: 30%;
        justify-content: center;
        text-align: center;
    }

    .t-servicios {
        background-color: rgba(216, 0, 216, 0.434);
        font-size: 20px;
        margin-top: 5px;
        margin-left: 30%;
        justify-content: center;
        text-align: center;
    }

    .t-fechayhora {
        background-color: rgba(216, 0, 216, 0.434);
        ;
        font-size: 20px;
        margin-top: 5px;
        margin-left: 30%;
        text-align: center;
    }

    .t-informacion {
        background-color: rgba(216, 0, 216, 0.434);
        ;
        font-size: 20px;
        margin-top: 5px;
        margin-left: 30%;
        justify-content: center;
        text-align: center;
    }

    .ubi-1 {
        background-color: rgba(216, 0, 216, 0.434);
        ;
        font-size: 20px;
        text-align: center;
        justify-content: left;
    }

    .servi-1 {
        background-color: rgba(216, 0, 216, 0.434);
        ;
        text-align: center;
        justify-content: left;
    }

    .lista-servi {
        font-size: 20px;
        text-align: left;
        justify-content: left;
        list-style: none;
        margin-left: 160px;
    }

    .d-1 {
        background-color: rgba(216, 0, 216, 0.434);
        ;
        font-size: 20px;
        margin-right: 30px;
        margin-top: 5px;
        text-align: center;
    }

    .info-1 {
        background-color: rgba(216, 0, 216, 0.434);
        ;
        font-size: 20px;
        text-align: left;
        justify-content: left;
    }

    .boton-conf {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        font-size: 10px;
        font-weight: bold;
        align-items: center;
        margin-bottom: 20px;
    }
}